
/*this is responsible for the body and styling the body*/
body {
    background-color: #0837ba;
    margin: 5px;
}
/*this is responsible for styling the header*/
header{
    background-color: #0882ba;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin: 5px;
}
/*this is responsible for styling all the H tags*/
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size:72px ;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 40px;
    margin: 5px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin: 5px;
}

h5{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin: 5px;
}

h6{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin: 5px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 18px;
    margin: 5px;
}
/*this is responsible for styling the main body for the page*/
main{
    background-color: #ffffff;
    border-radius: 5px;
    margin: 5px;
    margin-top: 75px;
}
aside{
    background-color: #ffffff;
    border-radius: 10px;
    margin: 5px;
}
/*this is responsible for styling the footer*/
footer{
    background-color:#616061;
    border-radius: 10px;
    margin-top: 75px;
    text-align: left;
}
/*this is responsible for styling the nav bar*/
nav li{
    border-radius: 2px;
    border-style: solid;
    background-color: #0dee2f;
    list-style-type: none;
    border-color: #0837ba;
    float: left;
    width: 13%;
    padding: 16px;
    margin: 3px;
}

nav li a{
    color: #000000;
    text-align: center;
    text-decoration: none;
}

nav li :hover{
    background-color:#bc0b1f
}

.active {
    background-color:#678dc7;
}
/*this is responsible for styling the table*/
table{
    font-family: Arial, Helvetica, sans-serif ;
    border-collapse: collapse;
    margin: 20px;
}

table td {
    border-radius: 2px;
    border-style: solid;
    border-color: #F0F0F0;
}

table th {
    border-radius: 2px;
    border-style: solid;
    border-color: #F0F0F0;
}
Table tr:nth-child(even){
    background-color: #9a9393 ;
    font-size: 10pt;
    text-align: center;
}

Table tr:nth-child(odd){
    background-color: #ffffff;
    font-size: 10pt;
    text-align: center;
}

Table tr:hover{
    background: -webkit-linear-gradient(to top, #a528a5, #761594);
    background: -moz-linear-gradient(to top, #963886, #811f79);
    background: -o-linear-gradient(to top, #b852ab, #812475);
    background: linear-gradient(to top, #9627a0, #678dc7);
}

table th{
    background-color: #164ace;
    color: #ffffff;
    width: 150px;
    height: 75px;
}
/*This is responsible for styling the multiple IDs and Classes*/
#logo{
    height: 72px;
    width: 72px;
    float: left;
    margin-right: 10px;
}

#title{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size:72px ;
    display: inline;
}

nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.column{
    float: left;
    width: 50%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
    background-color: #0882ba;
}

#twitter{
    width: 65px;
    height: 50px;
}
.carousel-item{
    height: 300px;
    width: 300px;
    margin-left: 35%;  

}
.gallery-img{
    width: 100%;
    overflow: hidden;
}
#img-gallery{
    padding-top: 10px;
}
#img-gallery .row{
    margin-bottom: 10px;
}
.col-sm{
    display: inline-block;
    margin-left: 10%;
}

#cyma{
    float: left;
    width: 80px;
    height: 80px;
    margin-left: 3%;
}
.news{
    margin-left: 10%;
}

#tweet{
    width: 75px;
    height: 50px;
}
.col{
    margin-left: 10%;
    display: inline-block;    
    width: 17%;
}

.container1{
    background-color: #616061;
}